// information
.information {
    padding-bottom: 145px;
    &__container {
        padding: 0 165px;
        background-image: url("../images/line-divider.png");
        background-repeat: no-repeat;
        background-position: top 50px left;
    }
    &__list {
        display: flex;
        justify-content: center;
        list-style:none;
        margin: 0;
        padding: 0;
    }
    &__item {
        width: 350px;
    }
    &__item + &__item {
        margin-left: 30px;
    }
    &__img {
        margin-bottom: 40px;
    }
    &__heading {
        margin: 0;
        margin-bottom: 27px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
    }
    &__desc {
        margin: 0;
        font-family: 'LexendDeca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}

@media only screen and (max-width:930px) {
    .information {
        padding-bottom: 145px;
        &__container {
            padding: 0 98px;
            background-image: none;
        }
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__item {
            display: flex;
            width: 573px;
            margin-bottom: 40px;
        }
        &__item + &__item {
            margin-left: 0px;
        }
        &__item-wrapper {
            margin-left: 79px;
        }
    }
.information__item-one {
    margin-bottom: 0;
}

}

@media only screen and (max-width:680px) {
    .information {
        padding-bottom: 120px;
        &__container {
            padding: 0 32px;
        }
        &__list {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 311px;
            margin-bottom: 48px;
        }
        &__box {
            margin-left: 0px;
        }
        &__icons {
            margin-bottom: 24px;
        }
        &__heading {
            text-align: center;
            margin-bottom: 24px;
        }
        &__desc {
            text-align: center;
        }
    }
    .information__item-one{
        margin-bottom: 0;
    }

}